.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background: #fff;
    padding-bottom: 30px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

.text{
    color: #a96609;
    font-size: 48px;
    font-weight: 700;
}

.underline{
    /*width: 61px;*/
    height: 6px;
    background: #a96609;
    border-radius: 9px;
}

.button-div{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

a {
    text-decoration: none;
}

#back-to-home-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #000000;
    background: #dea217;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
    border:#855108;
}

#back-to-home-btn:hover{
    background: #9f760d;
}

.macros{
    margin-top: 0px;
    display: flex;
    gap: 25px;
}

.macro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 160px;
    height: 30px;
    background: #eaeaea;
    border-radius: 20px;
    font-size: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 400px;
    height: 30px;
    background: #eaeaea;
    border-radius: 20px;
    font-size: 20px;
}

.longdescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    width: 390px;
    height: 170px;
    background: #eaeaea;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    align-items: center;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: #a96609;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #fff;
    background: #a96609;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #eaeaea;
    color: #676767;
}

