/* Welcome.css */

/* Navbar container */
.navbar {
    width: 100%;
    background-color: white;
    padding: 10px;
}

/* Navbar buttons */
.navbar button {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.login_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    height: 60px;
    background: #eaeaea;
    border-radius: 20px;
    font-size: 24px;
    margin-right: 10px;
    justify-content: space-around;
    font-weight: bold;

}

.login_signup {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    background-color: #DDDDDD;
    left: 0px;
    right: 0px;
    top: 0px;
}

.column_align {
    display: flex;
    flex-direction: column;
    background: #fff;
}

.right_justified
{
    margin-right: 0px;
    margin-left: auto;
}



ul.bulletpoint {
    list-style-type: circle;
    font-size: 25px;
    padding-left: 70px
}

.heading2 {
    font-size: 25px;
    padding-left: 40px
}

.title {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
    font-style: italic;
}

div.navlink {
    text-decoration: none;
    color: #000000
}

div.navlink:link {
    text-decoration: none;
    color: #777777;
}

div.navlink:visited {
    text-decoration: none;
    color: #777777;
}

div.navlink:hover {
    text-decoration: none;
    color: #777777;
}

div.navlink:active {
    text-decoration: none;
    color: #777777;
}

.copyright {
    position: absolute;
    bottom: 40px;
    left: 40px;
}